@model IEnumerable<_2KOLKIT.Models.Absence>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Employee.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @if(User.IsInRole("Director"))
            {
                @Html.DisplayNameFor(model=>model.isApproved)
            }
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Employee.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @if(User.IsInRole("Director"))
            {
                if(!item.isApproved)
                {
                    <input type="button" value="Potvrdi" onclick="location.href='@Url.Action("Approved","Absences",new { id = item.AbsenceId })'" />
                }
                    }
        </td>
        <td>
            @if (!User.IsInRole("Employee")) { 
            @Html.ActionLink("Edit", "Edit", new { id=item.AbsenceId }) 
           
            @Html.ActionLink("Delete", "Delete", new { id=item.AbsenceId })
            }
            @Html.ActionLink("Details ", "Details", new { id = item.AbsenceId })
            
        </td>
    </tr>
}

</table>
